* {
    margin: 0;
    box-sizing: border-box;
    z-index: 2;
}
.bg {
    background-image: url("../images/golf3.jpg");
    background-size: cover;
    background-position: top;
    filter:blur(5px);
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: fixed;
}
#scorecard {
    width: 90%;
    max-width: 90%;
    text-align: center;
    background-color: white;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
}
input {
    width:40px;
    text-align: center;
}
#name {
    width: 130px;
}
#nameP2 {
    width:130px;
}
#nameP3 {
    width: 130px;
}
#nameP4 {
    width: 130px;
}
#btn {
    background-color: rgb(229, 223, 255);
    width:663px;
    height: 24px;
}
.tb-responsive {
    width: 90%;
    max-width: 90%;
    text-align: center;
    position: relative;
    left: 5%;
    top: 150px;

}
.hole {
    background-color: rgb(112, 219, 112);
}
.out {
    background-color: rgb(212, 112, 112);
}
.in {
    background-color: rgb(114, 201, 228);
}
.total {
    background-color: rgb(216, 178, 108);
}