* {
    margin: 0;
    box-sizing: border-box;
}
#scorecard {
    width: 90%;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
input {
    width:40px;
    text-align: center;
}
#name {
    width: 130px;
}
#nameP2 {
    width:130px;
}
#nameP3 {
    width: 130px;
}
#nameP4 {
    width: 130px;
}
#btn {
    background-color: lime;
    width:663px;
}